extends ../layout
include ../mixins/mixins

block content
    .contacts-pg.pg-wrapper
        section.contacts-main
            ._container.container
                h1._title.h1 Контакты
                ._items
                    ._item
                        ._item-icon
                            +icon('phone')
                        a(href="tel:80000000000")._item-link.placeholder.js-contacts-phone 8(000)000-00-00
                        ._item-text Телефон
                    ._item
                        ._item-icon
                            +icon('envelope')
                        a(href="mailto:name@gmail.com")._item-link.placeholder.js-contacts-mail name@gmail.com
                        ._item-text Электронная почта
                    ._item.-social
                        ._item-icon
                            +icon('tg')
                        a(href="#")._item-link.-purple Телеграм
                        ._item-text Соц.сети
                    ._item.-social
                        ._item-icon
                            +icon('vk')
                        a(href="#")._item-link.-purple Вконтакте
        section.contacts
            ._container.container
                h2._title.h2 Наши оффлайн-офисы во всех крупнейших городах России
                ._subtext У нас есть офисы в 20 городах России.
                ._map#mainMap
                    ._map-ph
                        +pictureAdaptive1x('main-map-ph', 'png', 1660, 600, 767)
        section.contacts-cities
            ._container.container
                ._items.js-cities-list
        section.lead-magnet
            ._inner
                h2._title.h2 Узнайте стоимость консультации!
                form(action="https://www.work5.ru/orders")._form.js-validator
                    ._form-item.form-item
                        .select-wrapper
                            select(name="type_work").js-search-select.js-input-required.hidden
                                option(value="") Тип работы
                                option(value="dissertatsija") Диссертация
                                option(value="diplom") Диплом
                                option(value="refer") Реферат
                    ._form-item.form-item
                        input(type="text" name="email" placeholder="Ваш электронный адрес" data-validator-type="email").common-input.js-input-required
                    ._form-item.form-item.-double
                        button(type="submit")._submit-btn.common-btn.common-btn--black Узнать стоимость
                        .form-disclaimer Это бесплатно и займет 1&nbsp;минуту
                    input(type="hidden" name="act" value="services").hidden
                    ._form-item.form-item
                        .form-licence-info Нажимая кнопку «Узнать стоимость», вы&nbsp;принимаете условия #[a(href="https://www.work5.ru/usloviya-ispolzovaniya-sajta") публичной&nbsp;оферты] и&nbsp;даете согласие на&nbsp;#[a(href="https://www.work5.ru/politika-obrabotki-personalnyh-dannyh") обработку персональных данных]