extends ../layout
include ../mixins/mixins

block content
    .faq-pg.pg-wrapper
        section.top-text
            ._container.container
                h1._title.h1 Заголовок
                ._text За&nbsp;17&nbsp;лет работы мы&nbsp;накопили бесценный опыт по&nbsp;написанию выпускных и&nbsp;научных работ на&nbsp;заказ. Сформировали сильную команду авторов, кандидатов, докторов наук, собственный отдел технического контроля и&nbsp;отдела по&nbsp;качеству. Мы&nbsp;беремся за&nbsp;выполнение нестандартных и&nbsp;самых сложных заказов, например, технические направления. Наш опыт поможет вам качественно и&nbsp;в&nbsp;срок написать работу.
        section.faq.-with-bg
            ._container.container
                h2._title.h2 Вопросы и ответы
                ._items
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text Вы заключаете договор?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text Какие даете гарантии на работу?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text В каком виде я получаю работу?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text При выполнении предоплаты, могу ли я доверять<br> вам мою личную информацию?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text Если работа меня не устроит смогу ли я вернуть деньги?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
                    ._item
                        ._head.js-accordion-toggle
                            ._head-text Можно ли пообщаться с автором напрямую?
                            ._head-btn
                                +icon('arrow-down')
                        ._body.js-accordion-head
                            ._body-text Гарантируем что работа будет выполнена в рамках оформленного задания, если потребуется доработки - вносим бесплатно в рамках первоначальных требований.
            ._bg
                +pictureAdaptive('faq-bg', 'png', 1920, 1338, 600)