extends ../layout
include ../mixins/mixins

block content
    .page-list-pg.pg-wrapper
        .container
            h2.h2 Список страниц
            .pages-list
                a(href="/" target="_blank") Главная
                a(href="service-page.html" target="_blank") Услуговая
                a(href="about.html" target="_blank") О компании
                a(href="contacts.html" target="_blank") Контакты
                a(href="warranties.html" target="_blank") Гарантии
                a(href="faq.html" target="_blank") Вопросы и ответы
                a(href="testimonials.html" target="_blank") Отзывы