.about-pg {
  background-color: $template-light-gray;
  padding: 130px 0 200px;
  @media (max-width: 767px) {
    padding: 100px 0;
  }

  .lead-magnet {
    padding-top: 100px;
    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  .subjects-list {
    @media (max-width: 767px) {
      padding-top: 100px;
    }
  }
}

.about-main {
  background-color: $template-light-gray;
  padding: 0 0 50px;

  &__title {
    text-align: center;
    max-width: 1420px;
    margin: 0 auto 50px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      text-align: left;
    }
  }

  &__img-wrapper {
    margin-bottom: 70px;
    border-radius: 50px;
    overflow: hidden;
    @media (max-width: 767px) {
      margin: 0 -20px 50px;
    }

    img {
      object-fit: cover;
      @media (max-width: 767px) {
        width: 100%;
        height: 186px;
      }
    }
  }

  &__bottom {
    display: flex;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__bottom-item {
    flex-basis: 772px;
    max-width: 772px;
    margin-right: 68px;
    @media (max-width: 991px) {
      flex-basis: auto;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 50px;
    }

    &:last-child {
      margin-right: 0;
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
    }
  }

  &__bottom-heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 5px;
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 10px;
    }
  }

  &__bottom-text {
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.our-jobs {
  background-color: $template-light-gray;
  padding: 50px 0 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__items {
    display: flex;
    margin: -10px;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: 767px) {
      margin: -10px 0;
    }
  }

  &__item {
    flex-basis: calc(25% - 15px);
    max-width: calc(25% - 15px);
    background-color: $white;
    border: 1px solid rgba(62, 65, 70, 0.20);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    @media (max-width: 1199px) {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
    @media (max-width: 767px) {
      flex-basis: 100%;
      max-width: 100%;
      margin: 10px 0;
    }
  }

  &__item-num {
    color: $white;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: $template-purple;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}