doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Dis5.ru
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="styles/style.min.css")
    body
        block header
            include /views/components/header
        block content
        block footer
            include /views/components/footer
        block modals
            include /views/components/modal-mobile-menu
        block scripts
            script(src="scripts/vendor.min.js")
            script(src="scripts/main.min.js")

