footer.footer
    ._container.container
        ._top
            ._top-col.-first
                ._navs
                    ._nav-box
                        ._nav-heading О Work5
                        nav._nav
                            a(href="#")._nav-link Способ оплаты
                            a(href="#")._nav-link Наши гарантии
                            a(href="#")._nav-link Контакты
                            a(href="#")._nav-link Вопросы и ответы
                            a(href="#")._nav-link Как это работает
                    ._nav-box
                        ._nav-heading Клиентам
                        nav._nav
                            a(href="#")._nav-link Скидки
                            a(href="#")._nav-link Статьи
                            a(href="#")._nav-link Справочник
                    ._nav-box
                        ._nav-heading Специалистам
                        nav._nav
                            a(href="#")._nav-link Вход для специалистов
                            a(href="#")._nav-link Условия работы
                            a(href="#")._nav-link Регистрация специалистов
            ._top-col.-second
                ._subscribe-box
                    ._subscribe-heading Подписаться на акции и&nbsp;бонусы
                    ._subscribe-inputs
                        input(type="text" name="email" placeholder="Ваш электронный адрес").common-input._email-input
                        button(type="submit")._submit-btn.common-btn.common-btn--purple Подписаться
                ._socials
                    a(href="#")._socials-link
                        +icon('vk')
                    a(href="#")._socials-link
                        +icon('tg')

        ._bottom
            ._bottom-col.-first
                ._bottom-col-top
                    ._sber-logo
                        +picture('sber', 'png', 210, 33)
                    ._bottom-text Партнер по обеспечению безопасных&nbsp;платежей
                ._bottom-col-bottom
                    ._bottom-text * &#8470;&nbsp;1&nbsp;на рынке консультационных услуг для студентов по&nbsp;количеству стационарных офисов-филиалов в&nbsp;20&nbsp;городах России (от&nbsp;Владивостока до&nbsp;Москвы, #[a(href="#") полный перечень филиалов]). <br>Зона обслуживания онлайн&nbsp;&mdash; вся Россия.
            ._bottom-col.-second
                a(href="#")._licence-link Политика конфиденциальности
                a(href="#")._licence-link Пользовательское соглашение
            ._bottom-col.-third
                a(href="tel:88001005531")._phone 8 (800) 100-55-31
                ._bottom-text Контактный центр
            ._bottom-col.-fourth
                a(href="tel:+74952152814")._phone +7 (495) 215-28-14
                ._bottom-text г. Москва<br>
                    | ул. Арбат, д. 35, офис 468, этаж 4<br>
                    | По будням: пн-пт c 12:00 до 18:00<br>
                    | Перерыв: с 14:00 до 15:00<br>
                    | Выходные: суббота, воскресенье
                a(href="mailto:client@work5.ru")._bottom-mail client@work5.ru
