header.header
    ._container.container
        ._top
            ._top-item.-phone
                +icon('phone')
                a(href="tel:+70000000000")._top-item-text +7 (---) ---_--_--
            ._top-item.-mail
                +icon('envelope')
                a(href='mailto:name@gmail.com')._top-item-text name@gmail.com
            ._top-item.-address
                +icon('point')
                ._top-item-text Москва, ул. Арбат, д. 35, офис 468, этаж 4
        ._bottom
            a(href="/")._logo-wrapper
                ._logo Dis5
                ._logo-descriptor
                    span by
                    +picture('five-logo-small', 'png', 12, 12)
                    span — ВКР и диссертации
            nav._nav
                ._nav-item.-dropdown
                    a(href="#")._nav-link Дипломные
                    +icon('arrow-down')
                    ._nav-dropdown-box
                        nav._dropdown-nav
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                            a(href="#")._dropdown-nav-item Очень длинный подраздел
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                ._nav-item.-dropdown
                    a(href="#")._nav-link Диссертации
                    +icon('arrow-down')
                    ._nav-dropdown-box
                        nav._dropdown-nav
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                ._nav-item.-dropdown
                    a(href="#")._nav-link Научные статьи
                    +icon('arrow-down')
                    ._nav-dropdown-box
                        nav._dropdown-nav
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                ._nav-item.-dropdown
                    a(href="#")._nav-link Другие услуги
                    +icon('arrow-down')
                    ._nav-dropdown-box
                        nav._dropdown-nav
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                ._nav-item.-dropdown
                    a(href="#")._nav-link О компании
                    +icon('arrow-down')
                    ._nav-dropdown-box
                        nav._dropdown-nav
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                            a(href="#")._dropdown-nav-item Раздел
                            a(href="#")._dropdown-nav-item Подраздел
                            a(href="#")._dropdown-nav-item Длинный подраздел
                ._nav-item
                    a(href="#")._nav-link Отзывы
            a(href="#")._order-btn.common-btn.common-btn--purple Оформить заказ
            ._mobile-menu-toggle.js-open-modal(data-modal="modalMobileMenu" data-mob-menu="true")
                +icon('mob-menu')
