.modal.modal--mobile-menu#modalMobileMenu
    ._close.js-close-modal
        +icon('close')
    ._body
        nav.mobile-menu-nav
            ._item.-dropdown
                a._item-box(href="#")
                    ._item-link Дипломные
                    ._item-arrow.js-toggle-mobile-menu-dropdown
                        +icon('arrow-down')

                ._dropdown-box
                    nav._dropdown-nav
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
                        a(href="#")._dropdown-nav-item Очень длинный подраздел
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
            ._item.-dropdown
                a._item-box(href="#")
                    ._item-link Диссертации
                    ._item-arrow.js-toggle-mobile-menu-dropdown
                        +icon('arrow-down')
                ._dropdown-box
                    nav._dropdown-nav
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
                        a(href="#")._dropdown-nav-item Очень длинный подраздел
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
            ._item.-dropdown
                a._item-box(href="#")
                    ._item-link Научные статьи
                    ._item-arrow.js-toggle-mobile-menu-dropdown
                        +icon('arrow-down')
                ._dropdown-box
                    nav._dropdown-nav
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
                        a(href="#")._dropdown-nav-item Очень длинный подраздел
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
            ._item.-dropdown
                a._item-box(href="#")
                    ._item-link Другие услуги
                    ._item-arrow.js-toggle-mobile-menu-dropdown
                        +icon('arrow-down')
                ._dropdown-box
                    nav._dropdown-nav
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
                        a(href="#")._dropdown-nav-item Очень длинный подраздел
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
            ._item.-dropdown
                a._item-box(href="#")
                    ._item-link О компании
                    ._item-arrow.js-toggle-mobile-menu-dropdown
                        +icon('arrow-down')
                ._dropdown-box
                    nav._dropdown-nav
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
                        a(href="#")._dropdown-nav-item Очень длинный подраздел
                        a(href="#")._dropdown-nav-item Раздел
                        a(href="#")._dropdown-nav-item Подраздел
                        a(href="#")._dropdown-nav-item Длинный подраздел
            ._item
                a(href="#")._item-link Отзывы
        a(href="https://www.work5.ru/orders")._order-btn.common-btn.common-btn--purple Оформить заказ
        ._contacts-item.-phone
            +icon('phone')
            a(href="tel:+70000000000")._contacts-item-text +7 (---) ---_--_--
        ._contacts-item.-mail
            +icon('envelope')
            a(href='mailto:name@gmail.com')._contacts-item-text name@gmail.com
        ._contacts-item.-address
            +icon('point')
            ._contacts-item-text Москва, ул.&nbsp;Арбат, д.&nbsp;35, офис&nbsp;468, этаж&nbsp;4
